<h1>Area</h1>
<kendo-chart>
  <kendo-chart-title text="Units sold"></kendo-chart-title>

  <kendo-chart-category-axis>
    <kendo-chart-category-axis-item
      [categories]="['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul']"
      [title]="{ text: 'Months' }"
    >
    </kendo-chart-category-axis-item>
  </kendo-chart-category-axis>

  <kendo-chart-series-defaults [highlight]="{ inactiveOpacity: 0.3 }">
  </kendo-chart-series-defaults>

  <kendo-chart-series>
    <kendo-chart-series-item
      type="area"
      [data]="[123, 276, 310, 212, 240, 156, 98]"
    >
    </kendo-chart-series-item>
    <kendo-chart-series-item
      type="area"
      [data]="[165, 210, 287, 144, 190, 167, 212]"
    >
    </kendo-chart-series-item>
    <kendo-chart-series-item
      type="area"
      [data]="[56, 140, 195, 46, 123, 78, 95]"
    >
    </kendo-chart-series-item>
  </kendo-chart-series>
</kendo-chart>


<br>

<kendo-chart>
    <kendo-chart-category-axis>
      <kendo-chart-category-axis-item
        [categories]="categories"
      >
      </kendo-chart-category-axis-item>
    </kendo-chart-category-axis>
    <kendo-chart-series>
      <kendo-chart-series-item type="verticalArea" [data]="data">
      </kendo-chart-series-item>
      <kendo-chart-series-item type="verticalArea" [data]="data1">
      </kendo-chart-series-item>
    </kendo-chart-series>
  </kendo-chart>
<br>
<h1>Stacked Area Charts</h1>

<kendo-chart>
  <kendo-chart-series>
    <kendo-chart-series-item
      type="area"
      [stack]="true"
      [data]="[1, 1, 1]"
      color="red"
      [opacity]="0.5"
    >
    </kendo-chart-series-item>
    <kendo-chart-series-item
      type="area"
      [data]="[1, 1, 1]"
      color="green"
      [opacity]="0.5"
    >
    </kendo-chart-series-item>
    <kendo-chart-series-item
      type="area"
      [data]="[1, 0, -1]"
      color="blue"
      [opacity]="0.5"
    >
    </kendo-chart-series-item>
  </kendo-chart-series>
</kendo-chart>

<h1>100 % Stacked Area</h1>
<kendo-chart>
  <kendo-chart-series>
    <kendo-chart-series-item
      type="area"
      [stack]="{ type: '100%' }"
      [data]="[1, 2, 3, 5]"
    >
    </kendo-chart-series-item>
    <kendo-chart-series-item type="area" [data]="[5, 3, 2, 1]">
    </kendo-chart-series-item>
  </kendo-chart-series>
</kendo-chart>

<br>
<h1>Line Style</h1>

<kendo-dropdownlist
[data]="['normal', 'step', 'smooth']"
[(ngModel)]="style"
>
</kendo-dropdownlist>
<kendo-chart>
<kendo-chart-series>
  <kendo-chart-series-item
    [line]="{ style: style }"
    type="area"
    [data]="[
      20, 1, 18, 3, 15, 5, 10, 6, 9, 6, 10, 5, 13, 3, 16, 1, 19, 1, 20, 2,
      18, 5, 12, 7, 10, 8
    ]"
    [markers]="{ visible: false }"
  >
  </kendo-chart-series-item>
</kendo-chart-series>
</kendo-chart>
